//FONTS

//family
$font-primary: 'Outfit', sans-serif;

//weight
$font-weight-primary: 400;
$font-weight-secondary: 700;

//size
$font-size-primary: 15px;
$font-size-secondary: 22px;


//Colors

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);


//Widths

$mobile-width: 375px;
$desktop-width: 1440px;

$image-width: 270px;

//Margin
$margin-primary: 10px;
