@import 'fonts';
@import 'variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: $mobile-width;
  max-width: $desktop-width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $light-gray;
}

.container{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-medium;
  border-radius: $radius-medium;
  background-color: $white;

  .qr-code{
    width: $image-width;
    height: $image-width;
    margin-bottom: $margin-small;
    border-radius: $radius-small;
  }

  .text{
    width: $image-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $padding-small;
    font-family: $font-primary;

    .title{
      margin-bottom: $margin-small;
      text-align: center;
      color: $dark-blue;
      font-size: $font-size-secondary;
      font-weight: $font-weight-secondary;
    }

    .copy{
      margin-bottom: $margin-small;
      text-align: center;
      color: $grayish-blue;
      font-size: $font-size-primary;
      font-weight: $font-weight-primary;
    }
  }

}

.attribution {
  position: absolute;
  bottom: 0;
  margin-bottom: $margin-small;
  text-align: center;
  font-family: $font-tertiary;
  font-size: $font-size-tertiary; 

  a { 
    color: $link-blue;
  }
}