@import 'fonts';
@import 'variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.attribution {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;

  font-family: sans-serif;
  font-size: 11px; 
  text-align: center;

  a { 
    color: hsl(228, 45%, 44%);
  }
}

body{
  background-color: $light-gray;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: $mobile-width;
  max-width: $desktop-width;
  height: 100vh;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;

  padding: 15px;
  border-radius: 20px;
  background-color: $white;

  .qr-code{
    border-radius: 10px;
    width: $image-width;
    height: $image-width;
    margin-bottom: $margin-primary;
  }

  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: $image-width;
    padding: 10px;

    font-family: $font-primary;

    .title{
      color: $dark-blue;
      font-size: $font-size-secondary;
      font-weight: $font-weight-secondary;
      text-align: center;
      margin-bottom: $margin-primary;
    }

    .copy{
      color: $grayish-blue;
      font-size: $font-size-primary;
      font-weight: $font-weight-primary;
      text-align: center;
      margin-bottom: $margin-primary;
    }
  }


}